#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-rpath --enable-amidiplug --disable-altivec --enable-chardet

override_dh_auto_clean:
	dh_auto_clean
	rm -f po/stamp-po po/*.gmo config.h  config.log  config.status  buildsys.mk  extra.mk

override_dh_strip:
	dh_strip --dbg-package=audacious-pluginsdbg

